$red_color: red;
$blue_color: blue;
$green_color: green;

body {
    div {
        border: $red_color 1px solid;
        width: calc(100% - 90px);
        margin: 25px; 
        height: 200px;
        padding-right: 20px;
        padding-left: 20px;
        h1{
            text-align: center;
            color: $green_color; 
            text-decoration: underline $blue_color;
            text-underline-offset: 6px;             
        }

        
        section {
            display: flex;
            flex-direction: row;
            width:100%;
            article:nth-child(1),
            article:nth-child(3) {
                color: $blue_color;
            }
            article:nth-child(2),
            article:nth-child(4) {
                color: $red_color;
            }
            
            
            article {
                width: 100%;
                text-align: center;
                height: auto;
                border: $green_color 1px solid;
                
            }
            
        }    
}
}


